[{{ repository_id }}]
name={{ repository_name }}
baseurl={{ repository_url }}
enabled={{ repository_enable_status }}
repo_gpgcheck={{ repository_gpg_key_enable_status }}
gpgkey={{ repository_gpg_key_url }}
gpgcheck={{ repository_gpg_key_enable_status }}
sslcacert={{ repository_ssl_ca_cert_file_path }}
sslverify={{ repository_ssl_verification_status }}